* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vh;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.textaligncenter {
  text-align: center;
}
.w-100 {
  width: 100%;
}
.row > [class*="col"] {
  padding: 16px;
}
.aligncontentcenter {
  align-content: center;
}
.selfcenter {
  align-self: center;
}
.alignbottom {
  align-self: flex-end;
}
.aligncenter {
  align-items: center;
}
.justifyspacearound {
  justify-content: space-around;
}
.justifyspacebetween {
  justify-content: space-between;
}
.justifycenter {
  justify-content: center;
}
.collapse [class*="col"] {
  padding: 0 !important;
}
.col1 {
  width: 8.33%;
}
.col2 {
  width: 16.66%;
}
.col3 {
  width: 25%;
}
.col4 {
  width: 33.33%;
}
.col5 {
  width: 41.66%;
}
.col6 {
  width: 50%;
}
.col7 {
  width: 58.33%;
}
.col8 {
  width: 66.66%;
}
.col9 {
  width: 75%;
}
.col10 {
  width: 83.33%;
}
.col11 {
  width: 91.66%;
}
.col12 {
  width: 100%;
}
.p1 {
  padding: 8px;
}
.pl1 {
  padding-left: 8px;
}

.pr1 {
  padding-right: 8px;
}

.pt1 {
  padding-top: 8px;
}

.pb1 {
  padding-bottom: 8px;
}

.px1 {
  padding: 0 8px;
}

.py1 {
  padding: 8px 0;
}

.p2 {
  padding: 16px;
}

.pl2 {
  padding-left: 16px;
}

.pr2 {
  padding-right: 16px;
}

.pt2 {
  padding-top: 16px;
}

.pb2 {
  padding-bottom: 16px;
}

.px2 {
  padding: 0 16px;
}

.py2 {
  padding: 16px 0;
}

.p3 {
  padding: 24px;
}

.pl3 {
  padding-left: 24px;
}

.pr3 {
  padding-right: 24px;
}

.pt3 {
  padding-top: 24px;
}

.pb3 {
  padding-bottom: 24px;
}

.px3 {
  padding: 0 24px;
}

.py3 {
  padding: 24px 0;
}

.p4 {
  padding: 32px;
}

.pl4 {
  padding-left: 32px;
}

.pr4 {
  padding-right: 32px;
}

.pt4 {
  padding-top: 32px;
}

.pb4 {
  padding-bottom: 32px;
}

.px4 {
  padding: 0 32px;
}

.py4 {
  padding: 32px 0;
}

.p6 {
  padding: 48px;
}

.pl6 {
  padding-left: 48px;
}

.pr6 {
  padding-right: 48px;
}

.pt6 {
  padding-top: 48px;
}

.pb6 {
  padding-bottom: 48px;
}

.px6 {
  padding: 0 48px;
}

.py6 {
  padding: 48px 0;
}

.p7 {
  padding: 56px;
}

.pl7 {
  padding-left: 56px;
}

.pr7 {
  padding-right: 56px;
}

.pt7 {
  padding-top: 56px;
}

.pb7 {
  padding-bottom: 56px;
}

.px7 {
  padding: 0 56px;
}

.py7 {
  padding: 56px 0;
}

.p8 {
  padding: 64px;
}

.pl8 {
  padding-left: 64px;
}

.pr8 {
  padding-right: 64px;
}

.pt8 {
  padding-top: 64px;
}

.pb8 {
  padding-bottom: 64px;
}

.px8 {
  padding: 0 64px;
}

.py8 {
  padding: 64px 0;
}

.p10 {
  padding: 80px;
}

.pl10 {
  padding-left: 80px;
}

.pr10 {
  padding-right: 80px;
}

.pt10 {
  padding-top: 80px;
}

.pb10 {
  padding-bottom: 80px;
}

.px10 {
  padding: 0 80px;
}

.py10 {
  padding: 80px 0;
}

.m1 {
  margin:  8px;
}
.mb2{
  margin-bottom: 16px;
}
.ml1 {
  margin-left: 8px;
}

.mr1 {
  margin-right: 8px;
}

.mt1 {
  margin-top: 8px;
}

.mb1 {
  margin-bottom: 8px;
}
.mx1{
  margin: 0 8px;
}
.my1{
  margin: 8px 0;
}

.m4 {
  margin:  32px;
}

.ml4 {
  margin-left: 32px;
}

.mr4 {
  margin-right:  32px;
}

.mt4 {
  margin-top: 32px;
}
.ml2{
  margin-left: 16px;
}
.ml5{
  margin-left: 40px;
}
.mb4 {
  margin-bottom:  32px;
}
.mt13{
  margin-top: 104px;
}
.mx4 {
  margin: 0 32px;
}

.my4 {
 margin: 32px 0;
}
.mb6{
  margin-bottom: 48px;
}
.mb3{
  margin-bottom: 24px;
}
.mt5{
  margin-top: 40px;
}
.mt2{
  margin-top: 16px;
}
.mt10{
  margin-top: 80px;
}
.mt35{
  margin-top: 280px;
}